.content-wrapper {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: "Segoe UI", sans-serif;
  color: #4e4242;
  line-height: 1.6;
}

.content-wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #00adb5;
  text-align: center;
}

.content-wrapper h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  color: #ffffff;
}

.content-wrapper p {
  font-size: 1rem;
  margin-top: 10px;
  text-align: justify;
}
