<header>
  <h1>{{ "PROFESSIONAL.NAME" | translate }}</h1>
  <p class="subtitle">{{ 'PROFESSIONAL.TITLE' | translate }}</p>
</header>

<br />

<section class="profile">
  <h2>{{ "PROFESSIONAL.SECTION_SUMMARY" | translate }}</h2>
  <p>{{ "PROFESSIONAL.PROFESSIONAL_SUMMARY" | translate }}</p>
</section>

<section class="experience">
  <h2>{{ "PROFESSIONAL.SECTION_EXPERIENCE" | translate }}</h2>
  <div class="item" *ngFor="let experience of experiences">
    <h3>{{ experience.company | translate }}</h3>
    <p>{{ experience.position | translate }}</p>
    <p>{{ experience.period | translate }}</p>
    <p>{{ experience.description | translate }}</p>
    <br />
  </div>
</section>

<section>
  <h2>{{ "PROFESSIONAL.EDUCATION_TITLE" | translate }}</h2>
</section>

<section>
  <div class="item" *ngFor="let education of educations">
    <h3>{{ education.course | translate }}</h3>
    <p>{{ education.institution | translate }}</p>
    <p>{{ getEducationStatus(education.status) | translate }}</p>
    <p>{{ education.period | translate }}</p>
    <br />
  </div>
</section>

<br />

<footer>
  <p>&copy; 2025 {{ "PROFESSIONAL.NAME" | translate }}</p>
</footer>