<header>
  <h1>{{ "PROFESSIONAL.NAME" | translate }}</h1>
  <p class="subtitle">{{ 'PROFESSIONAL.TITLE' | translate }}</p>
</header>

<br />

<section class="profile">
  <h2>{{ "PROFESSIONAL.SECTION_SUMMARY" | translate }}</h2>
  <p>{{ "PROFESSIONAL.PROFESSIONAL_SUMMARY" | translate }}</p>
</section>

<section class="experience">
  <h2>{{ "PROFESSIONAL.SECTION_EXPERIENCE" | translate }}</h2>
  
  <div class="item" *ngFor="let experience of experiences">
    <div class="experience-header">
      <img [src]="experience.logoUrl" alt="Logo" class="company-logo">
      
      <div class="experience-titles">
        <h3>{{ experience.company | translate }}</h3>
        <p class="position"><strong>{{ experience.position | translate }}</strong></p>
        <p class="period">{{ experience.period | translate }}</p>
      </div>
    </div>

    <ul class="description-list">
      <li *ngFor="let item of (experience.description | translate)">
        {{ item }}
      </li>
    </ul>
    <br />
  </div>
</section>

<section>
  <h2>{{ "PROFESSIONAL.EDUCATION_TITLE" | translate }}</h2>
</section>

<section class="education">
  <div class="item" *ngFor="let education of educations">
    <div class="education-header">
      <img [src]="education.logoUrl" alt="Logo" class="edu-logo">
      
      <div class="education-titles">
        <h3>{{ education.course | translate }}</h3>
        <p class="institution">{{ education.institution | translate }}</p>
        <p class="status-period">
          {{ getEducationStatus(education.status) | translate }} | {{ education.period | translate }}
        </p>
      </div>
    </div>
    <br />
  </div>
</section>

<br />

<footer>
  <p>&copy; 2025 {{ "PROFESSIONAL.NAME" | translate }}</p>
</footer>