html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}
