<nav class="sidebar">
  <div class="language-switcher">
    <button (click)="switchLang('pt')" class="lang-btn">
      <img src="https://res.cloudinary.com/diizw3dqm/image/upload/v1780012826/brazil_sdgjds.webp" alt="Brazil" class="tech-icon" />
      <span>{{ "SIDEBAR.PORTUGUESE" | translate }}</span>
    </button>
    <button (click)="switchLang('en')" class="lang-btn">
      <img src="https://res.cloudinary.com/diizw3dqm/image/upload/v1780012825/united-states_yzqdea.webp" alt="USA" class="tech-icon" />
      <span>{{ "SIDEBAR.ENGLISH" | translate }}</span>
    </button>
  </div>

  <ul>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fa-regular fa-chart-bar"></i> {{ "SIDEBAR.DASHBOARD" | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/my-history" routerLinkActive="active">
        <i class="fas fa-book-open"></i> {{ "SIDEBAR.MY_HISTORY" | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/profissional" routerLinkActive="active">
        <i class="fas fa-briefcase"></i>
        {{ "SIDEBAR.PROFESSIONAL" | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/about-me" routerLinkActive="active">
        <i class="fas fa-user-circle"></i> {{ "SIDEBAR.ABOUT_ME" | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/blog" routerLinkActive="active">
        <i class="fas fa-blog"></i> {{ "SIDEBAR.BLOG" | translate }}
      </a>
    </li>
  </ul>
</nav>
