<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-user"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/minha-historia" routerLinkActive="active">
        <i class="fas fa-book-open"></i> Minha história
      </a>
    </li>
    <li>
      <a routerLink="/profissional" routerLinkActive="active">
        <i class="fas fa-briefcase"></i> Profissional
      </a>
    </li>
    <li>
      <a routerLink="/mais-sobre-mim" routerLinkActive="active">
        <i class="fas fa-user-circle"></i> Mais sobre mim
      </a>
    </li>
  </ul>
</nav>
