.dashboard-container {
  display: flex;
  /*flex-direction: row;*/
  gap: 2rem;
  max-width: 100%;
  /*max-height: 100%;*/
  min-height: 100%;
  border: 1px dashed red;
}

.group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  flex-grow: 1;
  gap: 2rem;
}

.intro {
  background: #eeeeee;
  padding: 2rem;
  border-radius: 8px;
  color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  max-height: 100%;
  border: 1px dashed red;
}

.headline {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #222831;
  font-weight: bold;
  text-align: center;
  background-color: aquamarine;
  border-radius: 20%;
}

.intro p {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.weather-card {
  background-color: #eeeeee;
  border-left: 5px solid #00adb5;
  border-radius: 8px;
  padding: 16px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px dashed red;
}

.weather-card h2 {
  margin-top: 0;
  color: #222831;
}

.weather-info p {
  margin: 8px 0;
  font-size: 1rem;
  color: #393e46;
}

.technologies-profile-resume {
  background: #eeeeee;
  padding: 2rem;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  border: 1px dashed red;
  flex-grow: 1;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.profile-image {
  height: 280px;
  width: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10%;
}

.tech-icon {
  width: 48px;
  height: 48px;
  margin: 0.5rem;
  object-fit: contain;
}
