<div class="content-wrapper">
  <h1>{{ "ABOUT_ME.TITLES.MOTIVATION" | translate }}</h1>
</div>

<div class="window">
  <div class="titlebar">
    <div class="win-controls">
      <span class="btn-dot dot-red"></span>
      <span class="btn-dot dot-yellow"></span>
      <span class="btn-dot dot-green"></span>
    </div>

    <div class="title">
      {{ "ABOUT_ME.SUBTITLES.MOTIVATION_QUESTION" | translate }}
    </div>
    <div style="width:40px"></div>
  </div>

  <div class="content">
    <section class="grid">
       <figure class="card" *ngFor="let c of cards" (click)="showDescription(c.desc)">
        <div class="photo">
          <img [src]="c.img | translate" [alt]="c.nome | translate" />
        </div>
        <figcaption>
          <div class="caption">{{ c.nome | translate }}</div>
        </figcaption>
      </figure>
    </section> 

    <div class="description-area">
      <p>{{ description | translate }}</p>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <h1> {{ "ABOUT_ME.TITLES.INSPIRATION_PHRASES" | translate }} </h1>
</div>

<section class="life-section" *ngFor="let item of phrases">
  <h2>{{ item.title | translate }}</h2>

  <div class="content-box">
    <div class="image-box">
      <img [src]="item.img | translate" [alt]="item.alt | translate" />
    </div>

    <div class="text-box">
      <p>{{ item.phrase | translate }}</p>
      <p class="author">{{ item.author | translate }}</p>
    </div>
  </div>
</section>